<h1><i class="bi bi-people"></i> Departamento</h1>

<div><%= link_to "Novo departamento", new_department_path%></div>


<div id="departments">
  <% @departments.each do |department| %>
    <div>
      <a href="/departments/<%= department.id %>">
        <%= department.name %>
      </a>
    </div>
  <% end %>
</div>